@import "../../_variables";

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contextWrap {
  width: 100%;
  max-width: 80ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contextText {
  flex-direction: column;
}