$third: #F5DB13;
$primary: #F2B807;
$second: #F28F16;
$danger: #D93E30;
$white: #F6F7F9;
$dark: #212121;
$grass: #70A83B;
$fire: #F76545;
$poison: #A974BC;
$ice: #A2CFF0;
$rock: #A1A1A1;
$normal: #76AADB;
$ground: #9B897B;
$electric: #F7C545;