@import "src/_variables";

.root {
  background: $danger;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.code {
  font-style: normal;
  font-weight: bold;
  font-size: 700px;
  line-height: 818px;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.teamRocket {
  top: 15vh;
  right:0;
  bottom:0;
  left:50ch;
  position: absolute;
  z-index: 0;
}

.text {
  margin: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: $white;
  z-index: 0;
}